@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 350px;
}

a {
    text-decoration: none;
    color: #1677ff;

    &:hover {
        color: #69a7fe;
    }
}

h1 {
    font-size: 19px;
    padding-bottom: 50px;
}

h2 {
    font-size: 45px;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

header {
    color: #1d1d22;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 30px;
}

input:focus {
    outline: none;
}

.tabs {
    padding: 30px 10px;
}

.container {
    margin: 15px;
}

.generate-password {
    color: #1d1d22;
    text-align: center;

    .copy-button {
        width: 100%;
        height: 50px;
        margin-top: 30px;
    }

    .sync-button {
        height: 53px;
        position: relative;
        border-radius: 0;
    }

    p {
        padding-bottom: 50px;
    }

    .input-range {
        justify-content: space-between;
        display: flex;
        margin: 10px 0;

        .slider {
            width: 100%;
        }

        b {
            margin: 5px;
            font-size: 18px;
        }
    }

    .input-password {
        justify-content: center;
        align-items: center;
        display: flex;
        border: 1px solid #eee;
        margin: 0 auto;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 3px 9px #0000000F;

        .input-text {
            color: #2a2a33;
            position: relative;
            width: 100%;
            font-size: 20px;
            border-radius: 15px;
            border: none;
        }

        .button-transparent {
            position: relative;
            padding: 10px;
        }
    }

    label {
        user-select: none;
        font-size: 18px;
    }

    .char-checkbox {
        font-size: 20px;
    }
    
    .char-checkbox div {
        justify-content: space-between;
        display: flex;
        margin-bottom: 10px;
    }
}